spring:
  application:
    name: bankingsystem

  # Database (H2 for development)
  datasource:
    url: jdbc:h2:file:./data/bankingdb;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: update # Not for production
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true  # Important for data.sql
  sql:
    init:
      mode: always

  # Kafka
  kafka:
    bootstrap-servers: localhost:9092

    consumer:
      group-id: banking-system
      auto-offset-reset: earliest
      enable-auto-commit: false  # Manual commit!
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"

    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      acks: all  # Write guaranteed
      retries: 3

# Actuator
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  metrics:
    export:
      prometheus:
        enabled: true

# Logging
logging:
  level:
    io.malicki.bankingsystem: INFO
    org.springframework.kafka: INFO
    org.hibernate.sql: WARN


# Server
server:
  port: 8080